/**
 * (C) Copyright 2014 Whisper.io.
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     Maxime ESCOURBIAC
 */

.project-back {
    background-color: #3882BF;
}

.project-back:hover {
    background-color: #21C329;
}

.projectBlock{
    margin: 8px 10px;
    height: 75px;
}

.project-title{
    color: #FFFFFF
}

.project-description{
    color: #D1D3D4;
}

.logo-image{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}